body {
    text-align: center;
    margin: 0;

    font-family: Georgia, serif;
}
main {
    width: 50%;
    text-align: left;
    margin: auto;
}
.logo {
    width: 195px;
    margin-top: 15px;
}
h1 {
    text-align: center;
    margin-top: 55px;
}
h2 {
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 20px;
}

img.main {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 2/1.25;
}

.img-text {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-bottom: 30px;
    opacity: 0.5;
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(197, 243, 243);
    margin-top: 20px;
    margin-bottom: 20px;
}
h3 {
    margin-top: 25px;
    font-size: 25px;
    font-weight: normal;
}

h4 {
    font-size: 16px;
    text-align: left;
    color: #b5460f;
    margin-bottom: 0;
    margin-top: 40px;
    font-weight: normal;
}
a {
    color: #177;
}
span {
    font-weight: bold;
    text-align: center;
    color: #004d4d;
    font-size: 0.8rem;
}
nav {
    text-align: center;
    align-items: center;
}
nav p {
    font-size: 15px;
    margin-top: 20px;
    background-color: #fefbf1;
    border-top: 1px solid #ffd977;
    padding: 15px;
}

article {
    border-left: 1px solid #ffd977;
    padding-left: 15px;
}
div p {
    font-weight: bold;
    font-size: 20px;
}
#ricetta {
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
}

li {
    padding: 8px;
}
